[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
sklearn = "*"
matplotlib = "*"
tensorflow-macos = "*"
tensorflow-metal = "*"
jupyter = "*"
jaxlib = "*"
jax = {extras = ["cpu"], version = "*"}
torch = "*"
torchvision = "*"

[dev-packages]

[requires]
python_version = "3.8"
